:root
  { --text : hsl( 60, 36%, 96% )
  ; --bg : hsl( 70, 8%, 15% )

  ; --line-height : 1.3rem
  ; --font-size : 16pt
  }


* { margin : 0
  ; padding : 0
  ; word-wrap : break-word
  ; color : var( --text )
  ; float : none
  ; font-size : var( --font-size, 16pt )
  ; line-height : var( --line-height, 1.3em )
  ; font-weight : normal
  ; font-style : normal
  ; font-family : 'Consolas'
                , 'Monaco'
                , 'DejaVu Sans Mono'
                , 'PT Mono'
                , 'Courier New'
                , monospace
  }

body
  { background : var( --bg )
  ; min-width : 25em
  ; max-width : 80vw
  ; margin : 0 auto
  ; padding : 2em 10em
  }

h1, h2, h3, h4, h5, h6
, blockquote
, pre
, ol
, ul
, li
  { position : relative }

:is( h1, h2, h3, h4, h5, h6, blockquote, li, pre )::before
  { position : absolute
  ; right : 100%
  ; margin-right : 1em
  ; display : inline-block
  }

:is( h1, h2, h3, h4, h5, h6, blockquote, li, pre )[dir=rtl]::before
, [dir=rtl] :is( h1, h2, h3, h4, h5, h6, blockquote, li, pre )::before
, :is( h1, h2, h3, h4, h5, h6, blockquote, li, pre ):dir(rtl)::before
, :dir(rtl) :is( h1, h2, h3, h4, h5, h6, blockquote, li, pre )::before
  { right : unset
  ; left : 100%
  ; margin-right : unset
  ; margin-left : 1em
  }
h1::before
  { content : '#' }
h2::before
  { content : '##' }
h3::before
  { content : '###' }
h4::before
  { content : '####' }
h5::before
  { content : '#####' }
h6::before
  { content : '######' }
blockquote::before
  { content : '>' }
ul > li::before
  { content : '-' }
ul ul > li::before
  { content : '-\00a0-' }
ul ul ul > li::before
  { content : '-\00a0-\00a0-' }
pre::before
  { content : '```' }

li
  { list-style : none }

ol
  { counter-reset : ol_lvl_1 }
ol ol
  { counter-reset : ol_lvl_2 }
ol ol ol
  { counter-reset : ol_lvl_3 }

ol > li::before
  { content : counter( ol_lvl_1 ) '.'
  ; counter-increment : ol_lvl_1
  }
ol > li:has(ol:first-child)::before
  { display : none }
ol > li > ol:first-child > li::before
  { background : var( --bg )
  }

ol ol > li::before
  { content : counter( ol_lvl_1 ) '.' counter( ol_lvl_2 ) '.'
  ; counter-increment : ol_lvl_2
  }
[dir=rtl] ol ol > li::before
, ol[dir=rtl] ol > li::before
, ol ol[dir=rtl] > li::before
, ol ol > li[dir=rtl]::before
, :dir(rtl) ol ol > li::before
, ol:dir(rtl) ol > li::before
, ol ol:dir(rtl) > li::before
, ol ol > li:dir(rtl)::before
  { content : counter( ol_lvl_2 ) '.' counter( ol_lvl_1 ) '.'
  }

ol ol > li:has(ol:first-child)::before
  { display : none }
ol ol > li > ol:first-child > li::before
  { background : var( --bg ) }

ol ol ol > li::before
  { content : counter( ol_lvl_1 ) '.' counter( ol_lvl_2 ) '.' counter( ol_lvl_3 ) '.'
  ; counter-increment : ol_lvl_3
  }
[dir=rtl] ol ol ol > li::before
, ol[dir=rtl] ol ol > li::before
, ol ol[dir=rtl] ol > li::before
, ol ol ol[dir=rtl] > li::before
, ol ol ol > li[dir=rtl]::before
, :dir(rtl) ol ol ol > li::before
, ol:dir(rtl) ol ol > li::before
, ol ol:dir(rtl) ol > li::before
, ol ol ol:dir(rtl) > li::before
, ol ol ol > li:dir(rtl)::before
  { content : counter( ol_lvl_3 ) '.' counter( ol_lvl_2 ) '.' counter( ol_lvl_1 ) '.'
  }



h1, h2, h3, h4, h5, h6
, blockquote
, p
, ul
, ol
, pre
  { margin-top : var( --line-height )
  ; margin-bottom : var( --line-height )
  }
:is( h1, h2, h3, h4, h5, h6 ):not(:first-child)
  { margin-top : calc( 2 * var( --line-height ) ) }

b::before
, b::after
, strong::before
, strong::after
  { content : '**'
  ; display : inline
  }

i::before
, i::after
, em::before
, em::after
  { content : '_'
  ; display : inline
  }

[title]::after
  { content : ' /*' attr(title) '*/'
  ; display : inline
  }

a
  { text-decoration : none }
a::before
  { content : '['
  ; display : inline
  }
a::after
  { content : '](' attr(href) ')'
  ; display : inline
  }
a[title]::after
  { content : '](' attr(href) ') /*' attr(title) '*/'
  ; display : inline
  }

code::before
, code::after
  { content : '`'
  ; display : inline
  }
pre code::before
, pre code::after
  { content : none
  }

hr
  { position : relative
  ; height : var( --line-height )
  ; font-size : 0
  ; line-height : 0
  ; overflow : hidden
  ; border : 0
  ; margin-bottom : var( --line-height )
  }
hr::after
  { content : '----'
  ; position : absolute
  ; top : 0
  ; left : 0
  }

input[type=checkbox]
  {
  ;
  }

input[type=radio]
  {
  ;
  }

input[type=text]
  {
  ;
  }


img
  { display : inline
  /*; overflow : hidden*/
  }
img::before
  { content : '![' attr(alt)
  ; display : inline-block
  }
img::after
  { content : '](' attr(src) ')'
  ; display : inline-block
  }

/* firefox cannot put position absolute inside table-cell*/
@-moz-document url-prefix()
  {
    h1 { display : block }
  }


/* colors */
:root
  { --red : hsl( 0, 93%, 59% )
  ; --orange : hsl( 32, 98%, 56% )
  ; --light-orange : hsl( 47, 100%, 79% )
  ; --dark-orange : hsl( 30, 83%, 34% )

  ; --yellow : hsl( 54, 70%, 68% )
  ; --dark-yellow : hsla( 54, 70%, 68%, 35% )

  ; --green : hsl( 80, 76%, 53% )
  ; --blue : hsl( 190, 81%, 67% )
  ; --purple : hsl( 261, 100%, 75% )
  ; --rose : hsl( 338, 95%, 56% )

  ; --gray : hsl( 50, 11%, 41% )
  ; --dark-gray : hsl( 50, 11%, 41%, 50% )
  }

abbr
  { color : var( --light-orange ) }
h1, h2, h3, h4, h5, h6
  { color : var( --orange ) }
a:any-link
  { color : var( --rose ) }
blockquote
  { color : var( --green ) }
pre, code
  { color : var( --gray ) }
ul > li::before
  { color : var( --red ) }
ol > li::before
  { color : var( --purple ) }

[title]::after
, [title]::after::after
  { color : var( --dark-gray ) }

