:root
  { --text : hsl( 60, 36%, 96% )
  ; --bg : hsl( 70, 8%, 15% )

  ; --line-height : 1.3rem
  ; --font-size : 16pt

  ; --red : hsl( 0, 93%, 59% )
  ; --orange : hsl( 32, 98%, 56% )
  ; --light-orange : hsl( 47, 100%, 79% )
  ; --dark-orange : hsl( 30, 83%, 34% )
  ; --yellow : hsl( 54, 70%, 68% )
  ; --dark-yellow : hsla( 54, 70%, 68%, 35% )
  ; --green : hsl( 80, 76%, 53% )
  ; --blue : hsl( 190, 81%, 67% )
  ; --purple : hsl( 261, 100%, 75% )
  ; --rose : hsl( 338, 95%, 56% )
  ; --gray : hsl( 50, 11%, 41% )
  }

* { margin : 0
  ; padding : 0
  ; word-wrap : break-word
  ; color : var( --text )
  ; float : none
  ; font-size : var( --font-size, 16pt )
  ; line-height : var( --line-height, 1.3em )
  ; font-weight : normal
  ; font-style : normal
  ; font-family : consolas
                , monaco
                , "courier new"
                , monospace
  }

body
  { background : var( --bg )
  ; min-width : 25em
  ; max-width : 80vw
  ; margin : 0 auto
  ; padding : 5em
  }

h1, h2, h3, h4, h5, h6
, blockquote
, pre
, ol
, ul
, li
  { position : relative }

:is( h1, h2, h3, h4, h5, h6, blockquote, li, pre )::before
  { position : absolute
  ; right : 100%
  ; margin-right : 1em
  ; display : inline-block
  }

:is( h1, h2, h3, h4, h5, h6, blockquote, li, pre )[dir=rtl]::before
, [dir=rtl] :is( h1, h2, h3, h4, h5, h6, blockquote, li, pre )::before
  { right : unset
  ; left : 100%
  ; margin-right : unset
  ; margin-left : 1em
  }
h1::before
  { content : '#' }
h2::before
  { content : '##' }
h3::before
  { content : '###' }
h4::before
  { content : '####' }
h5::before
  { content : '#####' }
h6::before
  { content : '######' }
blockquote::before
  { content : '>' }
ul > li::before
  { content : '-' }
pre::before
  { content : '```' }


li
  { list-style : none }

ol
  { counter-reset : ol_1 }
ol ol
  { margin-left : 2em
  ; counter-reset : ol_2
  }
ol ol[dir=rtl]
, [dir=rtl] ol ol
  { margin-left : unset
  ; margin-right : 2em
  }
ol ol ol
  { counter-reset : ol_3 }

ol > li::before
  { content : counter( ol_1 ) '.'
  ; counter-increment : ol_1
  }
ol ol > li::before
  { content : counter( ol_2 ) '.'
  ; counter-increment : ol_2
  }
ol ol ol > li::before
  { content : counter( ol_3 ) '.'
  ; counter-increment : ol_3
  }


:is( h1, h2, h3, h4, h5, h6 ):not( :first-child )
  { margin-top : var( --line-height ) }
h1, h2, h3, h4, h5, h6
, blockquote
, p
, ul
, ol
, pre
  { margin-bottom : var( --line-height ) }


strong::before, strong::after
  { content : '**'
  ; display : inline
  }

i
, em::before
, em::after
  { content : '_'
  ; display : inline
  }


a
  { text-decoration : none
  }
a::before
  { content : "["
  ; display : inline
  ; color : var( --color )
  }
a::after
  { content : "](" attr(href) ")"
  ; display : inline
  ; color : var( --color )
  }

code::before,
code::after
  { content : "`"
  ; display : inline
  }

pre code::before,
pre code::after
  { content : none
  }

hr
  { position : relative
  ; height : var( --line-height )
  ; font-size : 0
  ; line-height : 0
  ; overflow : hidden
  ; border : 0
  ; margin-bottom : var( --line-height )
  }
hr::after
  { content : "----"
  ; position : absolute
  ; top : 0
  ; left : 0
  }

input[type=checkbox]
  {
  ;
  }

input[type=radio]
  {
  ;
  }

input[type=text]
  {
  ;
  }


/* only opera support before and after with img :(*/
img
  { display : inline-block }
img::before
  { ; content : ~'"![" attr(alt)'
  ; display : inline-block
  }
img::after
  { ; content : ~'"](" attr(src) ")"'
  ; display : inline-block
  }

/* firefox cannot put position absolute inside table-cell*/
@-moz-document url-prefix()
  {
    h1 { display : block }
  }

/* colors */
h1, h2, h3, h4, h5, h6
  { color : var( --orange ) }